.modal {
  position: fixed;
  // left: -100%;
  // display: block;
  // margin: 0 auto;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: all .6s;

  &__block {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin: 0 auto;
    // margin-top: 150px;
    // margin-left: 30px;
    width: 380px;
    min-height: 400px;
    background-color: #fff;
    padding: 35px 40px 40px 40px;
    border-radius: 5px;
    transition: all .6s;
    z-index: 10;
  }

  &__thanks {
    display: none;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    min-height: 143px;
    background-color: #fff;
    padding: 35px 40px 40px 40px;
    border-radius: 5px;
    transition: all .6s;
    z-index: 10;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00141e;
    opacity: .75;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 41px;
    line-height: 21px;
    cursor: pointer;
    color: $main_color;
  }

  &__active {
    // left: 30px;
    visibility: visible;
    opacity: 1;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #0D0D0D;
  }
  &__descr {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: #0D0D0D;
    &_mini {
      line-height: 22px;
    }
  }
}